  /*hovers*/
  
  .container_foto:hover {
    cursor: pointer;
  }
  
  .container_foto:hover img {
    opacity: 0.1;
    transform: scale(1.5);
  }
  
  .container_foto:hover article {
    transform: translate(2px, -69px);
    -webkit-transform: translate(2px, -69px);
    -moz-transform: translate(2px, -69px);
    -o-transform: translate(2px, -69px);
    -ms-transform: translate(2px, -69px);
  }
  
  .container_foto:hover .ver_mas {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    opacity: 1;
  }

  .bi:hover {
    fill: rgb(10, 88, 202);
  }

  .mePicture figure img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .mePicture figure:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

  /* .mePicture figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .mePicture figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  } */

  /* .hover07 a img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .hover07 a:hover img {
    -webkit-filter: blur(0);
    filter: blur(0);
  } */

  .hover07 a img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .hover07 a:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

  .hover07 a img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .hover07 a:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }